h1 Research interests
I have always been fascinated by the ecology of invertebrates, but it is the arachnids that have been the main focus of my recent work. My main areas of interest are the ecology of cave invertebrates, interactions between humans and invertebrates in their homes.   I also have a keen interest in stimulating the next generation of invertebrate biologist by interacting with local schools and youth organisations.  My other passion is to explore the links between art and science. Viewing the historical links between the two cultures and using the arts as a vehicle to take science to a wider audience. I also try to use science as a source of inspiration to stimulate an interest in science amongst the arts community.

It is now <% Time.now %>
